<h2>Create new Manga here!</h2>

<form method='POST' action='/mangas' >
<p>Title:<input type='text' name='manga[title]'></p>
<p>Year released: <input type='text' name='manga[year]'></p>
<p>Age Rating: <input type='text' name='manga[rating]'></p>
<p>Genre: <input type="text" name="genre[name]" id="genre_id"></p>
<p>Creator: <input type="text" name="creator[name]" id="creator_id"></p>
<input type='Submit' value='Create Manga' id='submit'>
</form>