<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to the Manga List Maker</h2>
    
    <p>Welcome to the Manga List Maker! This program will allow you to store your favorite mangas. 
    You can also see what other users have added to their own lists. You will be able to see the title, genre,
    release year, age rating, and creator name. Click below to make an account or login if you already have one!</p>  

    <img src='https://i.pinimg.com/564x/cb/c4/e3/cbc4e33ad99fda584fb4779183ba8a35.jpg' class="center">                              

  </div>




 <form action="/signup">
    <input type="submit" value="Sign In" />
  </form>
  <br>
  <form action="/login">
    <input type="submit" value="Log In" />
  </form>

</div>
