<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to the Manga List Maker</h2>
    
    <p>Welcome to the Manga List Maker! If you see this page...good news...*gasp* the program is ACTUALLY working.</p>

  </div>


 <form action="/signup">
    <input type="submit" value="Sign In" />
  </form>
  <br>
  <form action="/login">
    <input type="submit" value="Log In" />
  </form>

</div>
